#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.shadowed {
	text-shadow: 1px 1px 2px black;
	color:       white;
}

.stuff-box {
	font-family: 'helvetica neue', helvetica, sans-serif;
	color: white;
	letter-spacing: 1px;
	text-transform: capitalize;
	text-align: center;
	padding: 3px 10px;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	list-style: inside;
}

.timestamp {
    font-size: smaller;
    font-family: monospace;
    padding: 0px 10px;
}

.red {
	border-color: rgb(180,60,60);
	background:   rgb(180,60,60);
	box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.yellow {
	border-color: rgb(180,180,60);
	background:   rgb(180,180,60);
	box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
	border-color: rgb(60,60,180);
	background:   rgb(60,60,180);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
	border-color: rgb(60,180,60);
	background:   rgb(60,180,60);
	box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.black {
    border-color: rgb(75,75,75);
    background:   rgb(75,75,75);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}
.gray {
    border-color: rgb(169,169,169);
    background:   rgb(169,169,169);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}
.tan {
    border-color: rgb(144, 202, 249);
    background:   rgb(144, 202, 249);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}
#unlikelihood{
    color: red;
}
#likelihood{
    color: green;
}
#neutrality{
    color: black;
}
